# No dot-directories except github/vscode
.*/
!.vscode/
!.github/

*.code-workspace
node_modules
nbproject

# ioBroker artifacts
build/

# test artifacts
test/integration_tests_ui/screenshots/

# NYC coverage files
coverage

# special to this repo
news.txt

# npm package files
iobroker.*.tgz

Thumbs.db

# i18n intermediate files
admin/i18n/flat.txt
admin/i18n/*/flat.txt
