{
    "include": [
        "src/**/*.ts",
        "admin/**/*.ts?(x)"
    ],
    "exclude": [
        "src/**/*.test.ts",
        "admin/**/*.test.ts?(x)"
    ],
    "extension": [
        ".ts",
        ".tsx"
    ],
    "require": [
        "ts-node/register"
    ],
    "reporter": [
        "text",
        "html"
    ],
    "sourceMap": true,
    "instrument": true,
    "check-coverage": true,
    "branches": 95,
    "lines": 95,
    "functions": 95,
    "statements": 95
}